<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passbook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/passbook_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:name=".services.MyApplication">
        <activity android:name=".activities.searchpassbook.SearchPassBookActivity">

        </activity>
        <activity android:name=".activities.TestLibActivity"></activity>
        <activity android:name=".activities.pickupchangeregulation.PickUpChangeRegulationTypeActivity" />
        <activity android:name=".activities.selectmonthtogetreport.SelectMonthToGetReportActivity" />
        <activity android:name=".activities.pickupreport.PickupReportActivity" />
        <activity android:name=".activities.monthlyreport.MonthlyReportActivity" />
        <activity android:name=".activities.datereport.DateReportActivity" />
        <activity android:name=".activities.registerpassbook.RegisterPassBookActivity" />
        <activity android:name=".activities.editdepositslip.EditDepositActivity" />
        <activity android:name=".activities.editwithdrawslip.EditWithdrawalActivity" />
        <activity android:name=".activities.TestDataActivity">

        </activity>
        <activity android:name=".activities.base.TabBarActivity" />
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>